{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "globals": {
    "Phaser": false
  },
  "rules": {
    "no-console": 0,
    "id-length": [2, {"exceptions": ["x", "y", "i", "j"]}]
  },
}
